@{
    ViewBag.Title = "О проекте";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>О проекте</h2>

<div>
    <p>Ниже приведён стих:</p>
    <blockquote>
        <p>
            Ветер тихо шепчет на заре,<br>
            Тайны мира в каждом луче.<br>
            Пусть светлый путь ведёт мечта,<br>
            Сквозь пространство в сердце льётся.
        </p>
    </blockquote>
    <p>Дополнительная информация о проекте.</p>
    <img src="~/Content/yourimage.jpg" alt="Фото проекта" style="max-width:100%; height:auto;" />
</div>